# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/